@page
@model RazorClient.Pages.CallWebApiModel
@{
    ViewData["Title"] = "Call WebApi";
}

<h2>Call WebApi</h2>

<dl>
  @foreach (var claim in @Model.UserClaims!)
  {
    <dt>@claim.Type</dt>
    <dd>@claim.Value</dd>
  }
</dl>
